
/*
html,body, header, div{
  height: 100%;
}
*/
.height{
height: 8 00px;
}
.style-icon-section-1 {
  height: 175px;
  width: 175px;
  display: block;
  top: 30px;
  left: 20px;
  position: relative;
}
.style-icon-section-2{
  height: 80px;
  width: 80px;
  display: block;
}
.style-icon-section-3{
  width: 100px;
  height: 100px;
  display: block;
  border-radius: 100%;
  background-color: #ffcc66;
}
.style-icon-checkbox {
  width: 30px;
  height: 30px;
  display: inline-block;
  background-color: #ffcc66;
}
.style-icon-section-5{
  width: 50px;
  height: 50px;
  display: block;
  background-size: contain;
}

.div-redondo {
  border-radius: 100%;
  width: 225px;
  height: 225px;
  background-color: #ffcc66;
}
