@font-face {
  font-family: "proxima-nova-soft";
  font-style: normal;
  src: url("https://use.typekit.net/af/b5823a/00000000000000000001743c/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"), url("https://use.typekit.net/af/b5823a/00000000000000000001743c/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"), url("https://use.typekit.net/af/b5823a/00000000000000000001743c/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
}
* {
  font-family: "proxima-nova-soft";
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
header {
  height: 100px;
}
.background-section-4 {
  background-color: #75b9e7;
}
.background-section-5 {
  background-color: #3498db;
}
.content-header{
  height: 560px;
  background-size: cover;
}
.style-img-nav{
  display: block;
  width: 90px;
  height: 45px;
  padding: 0;
}
.style-list-nav{
  text-decoration: none;
  padding-top: 20px;
  color: white;
  letter-spacing: 0.8px;
  font-weight: bold;
}
.icon-user-style{
  border: solid 2px white;
  border-radius: 50px;
  padding: 8px;
}
.style-titulo-header {
  font-size: 60px;
  font-weight: bold;
  color: white;
}
.style-titulos {
  font-size: 60px;
  font-weight: bold;
  color: #3498db;
}
.style-subtitulo-2{
  color: #494949;
  font-weight: bold;
  font-size: 25px;
}
.color-gris{
  color: #494949;
}
.style-subtitulo-3{
  color:#81b059;
  font-weight: bold;
  font-size: 20px;
}
.style-texto {
  color: #494949;
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
}
.style-sub-titulo{
  color: white;
  padding-top: 20px;
  padding-bottom: 50px;
  font-weight: bold;
  font-size: 25px;
}
.style-sub-titulo-4{
  color: white;
  font-weight: bold;
  font-size: 24px;
}
.style-texto-2{
  color: white;
  font-weight: bold;
  font-size: 18px;
}
.titulo-header{
  top: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.icons-introduction{
  position: relative;
  min-height: 100%;
  height: 100%;
  width: 100%;

}
.icon--hero-park {
  bottom: 280px;
  left: 250px;
  position: relative;
    width: 260px;
    height: 316px;
    display: inline-block;
}
.icon--hero{
  bottom: 930px;
  left: 250px;
  position: relative;
  width: 1525px;
  height: 650px;
  background-position: center;
  background-size: cover;
  display: inline-block;
}
.icon--hero-bench{
  width: 148px;
  height: 66px;
  display: inline-block;
  position: relative;
  left: 930px;
  bottom: 290px;
}
/**/
.style-icon-section-1 {
  height: 175px;
  width: 175px;
  display: block;
  top: 40px;
  left: 30px;
  position: relative;
}
.style-icon-section-2{
  height: 80px;
  width: 80px;
  display: block;
  left: 120px;
  position: relative;
}
.style-icon-section-3{
  width: 100px;
  height: 100px;
  display: block;
  border-radius: 100%;
}
.style-section-3{
  padding-top: 50px;
  padding-right: 50px;
}
.style-icon-section-4 {
  width: 90px;
  height: 30px;
  display: block;
}
.style-icon-checkbox {
  position: relative;
  width: 30px;
  height: 30px;
  display: inline-block;
  font-size: 20px;
  color: #87bf57;
  top: 6px;
}
.style-icon-section-5{
  width: 50px;
  height: 50px;
  display: block;
  background-size: contain;
}

.div-redondo {
  border-radius: 100%;
  width: 250px;
  height: 250px;
  background-color: #ffcc66;
}
.style-section-1{
  background-color: #f9f9f9;
}
.margin-section-5{
  margin-left: 300px;
}
ul.list-group:before{
  display: block;
  position: absolute;
  top: 0;
  left: 60px;
  width: 1px;
  height: 100%;
  z-index: 1;
  background-color: #ECBBB6;
}
.list-group-item{
  border-left: none;
  border-right: none;
}
.label-style{
  padding-left: 15px;
  padding-right: 15px;
  width: 200px;
}
.checklist-heading{
  position: relative;
  margin: 0;
  padding: 15px 10px;
  background-color: #FFF;
}

.rotate-img-1:hover{
  transform: rotate(5deg);
  transition: 0.75s;
}
.rotate-img-2:hover{
  transform: rotate(-5deg);
  transition: 0.75s;
}
.transfor-rotate-1{
  transform: rotate(5deg);
}
.transfor-rotate-2{
  transform: rotate(-5deg);
}
.z-index-1{
  z-index: 1;
  position: relative;
}
.z-index-2{
  z-index: -1;
  position: relative;
}
.rigth-rotate-img{
  bottom: 250px;
  right: 50px;
}
.left-rotate-img{
  bottom: 250px;
  left: 10px;
}
.left-rotate-img-1{
  bottom: 250px;
  left: 80px;
}
@media(max-width: 767px){
  .neat{
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 120px;
  }
  .style-sub-titulo {
    text-align: center;
    color: white;
    padding-top: 60px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
  }
  .icon--hero-park{
    position: relative;
    background-size: contain;
    width: 182px;
    height: 221px;
    right: 200px;
  }
  span .icon--hero-park{
      position: relative;
      left: 500px;
  }
}
